.login {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }

    input {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    &-btn {
      display: flex;
      gap: 30px;
      margin-top: 20px;
    }
  }
}
