.todo-list {
  margin-top: 15px;

  &__content {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-list {
      display: flex;
      align-items: center;
      padding: 10px;
      background: #f4f2f2;
      border-radius: 6px;
      margin: 5px;
      color: black;
      font-weight: 600;
      cursor: pointer;
      input {
        margin-right: 15px;
      }

      &-complited {
        text-decoration: line-through;
        opacity: 0.5;
      }
    }
  }
}
